@media (min-width: 350px) {
  .table-border-style {
    margin: 5px 35px 5px 30px;
    border: none;
  }
  .card{
    border: none;
    border-radius: 20px;
  }
  .table-heading {
    margin: 20px 40px 10px 40px;
    display: flex;
    justify-content: space-between;
  }
  .market-heading {
    font-size: 1.7rem !important;
  }

  .table-heading span {
    font-size: 1.4rem;
    font-weight: 600;
  }
  .main-table {
    width: 100%;
    background-color: #fff !important;
  }
  .main-tableicon {
    display: flex;
    align-items: center;
  }
  .imagetable-style {
    margin-right: 10px;
  }
  .table-heading-style {
    color: black;
  }
  .large-text {
    font-size: 16px;
    font-weight: 500;
    color: black;
  }
  .action-heading {
    display: flex;
    justify-content: center;
  }
  .action-style {
    font-size: 20px;
    font-weight: 500;
    color: black;
    display: flex;
    justify-content: space-evenly;
  }
  table thead th {
    vertical-align: bottom;
    border-bottom: none !important;
  }
  .table > :not(caption) > * > * {
    /* background-color: #0b111dca; */
    border: none;
    background-color: white;
  }
  .table-striped tbody tr:nth-of-type(odd) {
    background-color: #fff;
  }
  .table > tbody {
    /* vertical-align: inherit; ye default ta */
    vertical-align: middle;
  }
  .small-text {
    color: rgb(0 251 130);
    font-weight: 600;
    display: flex;
    justify-content: flex-end;
  }
  td {
    border-style: none;
  }
  .third-col {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .edit-icon {
    color: rgb(255, 193, 7);
    height: 15px;
  }
  .delete-icon {
    color: rgb(244, 67, 54);
    height: 15px;
  }
  .view-icon {
    color: rgb(0, 188, 212);
    height: 15px;
  }
  .main-table-class{
    width: 100%;
    padding: 0 30px;
    margin-top: 6rem;
  }
  .table-open{
    width: 85%;
    /* overflow-x: scroll; */
    overflow: scroll;
    margin-left: auto;
    margin-top: 3rem;
  }
}