@media (min-width: 350px) {
  .table-border-style {
    margin: 5px 35px 5px 30px;
    border: none;
  }
  .table-heading {
    margin: 0 40px 10px 40px;
    display: flex;
    justify-content: space-between;
  }
  .market-heading {
    font-size: 1.7rem !important;
  }

  .table-heading span {
    font-size: 1.4rem;
    font-weight: 600;
  }
  .main-table {
    width: 100%;
    background-color: #fff !important;
    -webkit-box-shadow: 0px 0px 5px 2px rgba(230, 230, 230, 0.75);
    border-radius: 10px;
  }
  .main-tableicon {
    display: flex;
    align-items: center;
  }
  .imagetable-style {
    margin-right: 10px;
  }
  .table-heading-style {
    color: black;
  }
  .large-text {
    font-size: 20px;
    font-weight: 500;
    color: black;
  }
  .action-heading {
    display: flex;
    justify-content: center;
  }
  .action-style {
    font-size: 20px;
    font-weight: 500;
    color: black;
    display: flex;
    justify-content: space-evenly;
  }
  .table > :not(caption) > * > * {
    /* background-color: #0b111dca; */
    border: none;
    background-color: white;
  }
  .table-striped tbody tr:nth-of-type(odd) {
    background-color: #fff;
  }
  .table > tbody {
    /* vertical-align: inherit; ye default ta */
    vertical-align: middle;
  }
  .small-text {
    color: rgb(0 251 130);
    font-weight: 600;
    display: flex;
    justify-content: flex-end;
  }
  td {
    border-style: none;
  }
  .third-col {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .edit-icon {
    color: rgb(255, 193, 7);
  }
  .delete-icon {
    color: rgb(244, 67, 54);
  }
  .view-icon {
    color: rgb(0, 188, 212);
  }
}
